version: '3.7'

services:
  {{frontend_service_name}}:
    hostname: {% raw %}"{{.Service.Name}}"{% endraw %} 
    deploy:
      mode: global
    networks:
      - react_network
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - '1337:80'
    environment:
      - CHOKIDAR_USEPOLLING=true

networks:
  react_network:
    name: {{overlay_network_name}}
    external: true