version: '3.7'
 
services:
  {{couchdb_service_name}}:
    environment:
      NODENAME: {% raw %}"{{.Service.Name}}.{{.Task.Slot}}.{{.Task.ID}}"{% endraw %} 
      COUCHDB_ERLANG_COOKIE: "IDuTaPTH96Id/hjc+xFKGQljeffXH3IcGt4d9RbowxI="
    image: couchdb:latest
    deploy:
      mode: global
    networks:
      - couchdb_network
    volumes:
      - /data:/opt/couchdb/data
      - /home/ubuntu/{{couchdb_dir}}/logs:/opt/couchdb/log
      - /home/ubuntu/{{couchdb_dir}}/config:/opt/couchdb/etc/local.d
      - /home/ubuntu/{{couchdb_dir}}/vm.args:/opt/couchdb/etc/vm.args
    ports:
      - "5984:5984"
      - "9100:9100"
      - "4369:4369"
    hostname: {% raw %}"{{.Service.Name}}"{% endraw %} 

networks:
  couchdb_network:
    name: {{overlay_network_name}}
    external: true