/* CSS for Page One */
.page-one-container {
  /* background-color: grey; */
  display: flex;
  height: 90vh;
}

.page-one-left {
  width: 50%;
  border-right: 2px solid black;
}

.au-map-area {
  width: 50vw;
  height: 44vh;
  border-bottom: 2px solid black;
}

.au-map-container {
  left: 2.5vw;
  top: 1vw;
  width: 45vw;
  height: 40vh;
}

.tw-chart-area {
  height: 45vh;
  width: 100%;
}

.tw-text-area {
  height: 45vh;
  width: 100%;
}

.tw-text-para {
  text-align: justify;
  width: 75%;
  padding-left: 7.5vw;
  padding-top: 15vh;
}

.popup-chart {
  padding-left: 12.5vw;
  height: 45vh;
}

.page-one-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.mental-chart {
  padding-left: 12.5vw;
  height: 44vh;
  border-bottom: 2px solid black;
}

.non-mental-chart {
  padding-left: 12.5vw;
  height: 45vh;
}

/* CSS for Page Two */
.page-two-container {
  /* background-color: aquamarine; */
  display: flex;
  height: 90vh;
}

.vic-map-area {
  width: 50%;
  border-right: 2px solid black;
}

.vic-h3 {
  padding-top: 5%;
  padding-left: 15%;
}

.vic-map-container {
  left: 17.5%;
  top: 2.5%;
  width: 65%;
  height: 65vh;
}

.sudo-area {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-top: 11vh;
  padding-left: 2.5vw;
}

.sudo-para {
  padding-top: 15%;
}
