.vic-map-container {
  position: absolute;
  top: 55vh;
  bottom: 0;
  width: 100%;
  height: 45vh;
}

.au-map-container {
  position: absolute;
  top: 9.5vh;
  bottom: 0;
  width: 50vw;
  height: 90.75vh;
}

/* .line-chart {
  position: absolute;
  top: 9vh;
  bottom: 0;
  width: 100%;
  height: 45vh;
} */

body {
  margin: 0;
  padding: 0;
}

.sudo-chart {
  padding-left: 28vw;
  height: 47vh;
  width: 100%;
}

.tw-chart {
  padding-left: 34vw;
  height: 30vh;
  width: 50%;
  z-index: 9999;
}

.tw-text {
  /* position: right; */
  /* border-left: 800px; */
  padding-left: 65vw;
  height: 28vh;
  width: 400px;
  border: 1px solid black;
  /* width: 50%; */
  /* z-index: 9999; */
}

.popup-chart {
  padding-left: 60vw;
  height: 29vh;
  /* width: 50%; */
}

.mental-chart {
  top: 32vh;
  padding-left: 68vw;
  height: 30vh;
  /* width: 50%; */
}

.non-mental-chart {
  top: 64vh;
  padding-left: 68vw;
  height: 30vh;
  /* width: 50%; */
}
